:root {
  --primary-color: rgb(33, 33, 33);
  --secondary-color: greenyellow;
  --forecast-color: rgb(36, 59, 85) 91.1%;
  --border-color: rgba(190, 226, 196, 0.9);
  --link-color: lightyellow;
  --secondary-link-color: lightgray;
}

body {
  font-family: arial, sans-serif;
  background-color: aliceblue;
}

h1 {
  color: var(--secondary-color);
  font: italic;
  font-size: 24px;
  font-weight: Bold;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}



small,
strong {
  color: var(--secondary-color);
  text-align: center;
  margin: 0 auto;
}

.github-link:link {
  color: var(--link-color);
  text-decoration: none;
}
.github-link:visited {
  color: var(--border-color);
  text-decoration: none;
}
.github-link:hover {
  color: var(--secondary-link-color);
  text-decoration: none;
}

.weather-icon-temperature {
  vertical-align: center;
}

.weather-icon-temperature strong {
  color: var(--primary-color);
  font-size: 60px;
  line-height: 60px;
}
.weather-icon-temperature .unit {
  font-size: 14px;
  color: var(--secondary-link-color);
  margin-top: 0;
  position: relative;
  top: -28px;
}

.weather-icon-temperature .active {
  color: var(--secondary-color);
  cursor: default;
}

.weather-icon-temperature img {
  height: 80px;
  margin-right: 5px;
  width: 80px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-icon {
  height: 30px;
  width: 30px;
}
.weather-forecast .forecast-first-day::shadow {
  color: var(--secondary-color);
}
.fiveDaysFutureForcast {
  color: var(--forecast-color);
  margin-top: 20px;
  text-align: center;
}
.weather-app {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-weight: normal;
  padding: 20px;
}
.location-description {
  padding-bottom: 20px;
}

.container {
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    var(--forecast-color)
  );

  border: 5px outset var(--border-color);
  border-radius: 70px;
  box-shadow: inset 0px 0px 44px 7px rgba(12, 70, 131, 0.3);
  margin-top: 20px;
  padding: 20px 20px;
}
