:root {
  --primary-color: rgb(33, 33, 33);
  --secondary-color: greenyellow;
  --forecast-color: rgb(36, 59, 85) 91.1%;
  --border-color: rgba(190, 226, 196, 0.9);
  --link-color: lightyellow;
  --secondary-link-color: lightgray;
}

a,
a:link,
a:visited {
  color: var(--secondary-color);
  cursor: auto;
  text-decoration: none;
}

a:link:active,
a:visited:active,
.unit {
  color: var(--link-color);
  font-size: 16px;
  vertical-align: super;
}
